:root {
    --secondary-colour: #1992d4;
    --accent-colour: #f0b429;
    --main-colour: #ffffff;
    --background-colour: #e2e8f0;
}
body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 200px auto;
}
/* Global */
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
    margin: 6px;
}
h3 {
    font-size: 1rem;
    margin: 0;
}
strong {
    font-size: 1rem;
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
i {
    padding-right: 5px;
}
span {
    margin: 0;
}
/* Side-Bar */
.side-bar {
    background-color: var(--secondary-colour);
    color: white;
}

.logo-block {
    display: grid;
    grid-template-columns: 25% 75%;
}
.side-bar li{
    display: grid;
}
.side-bar a {
    color: white;
}
.side-menu {
    margin-bottom: 2rem;
    display: grid;
    gap: 0.6rem;
}
.side-menu li a{
    display: grid;
    grid-template: 1fr / 1fr 3fr
}
/* Main Content */
.header {
    /*TODO:Define Grid layout*/
    display: grid;
    grid-template: 2rem 5.2rem / 60% auto auto auto;
    gap: 0.5rem;

    height: 15vh;

    padding: 10px 10px 0px;
}
.header input {
    grid-column-start: 1;

    border-radius: 20px;
    border: none;
    background-color: var(--background-colour);
}
.bell-button {
    grid-column-start: 3;

    background-color: var(--main-colour);
    border: none;
}

.bell-button i {
}
.small-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.small-profile img{
    height: 30px;
} 
.big-profile {
    grid-column-start: 1;
    display: grid;
    grid-template: 1fr 1.5fr /1fr 8fr;
}
.big-profile img {
    height: 60px;
    grid-row-start: 1;
    grid-row-end: 3;
}
.big-profile h1{
    margin: 0px;
}
.big-profile span {
    margin: 0px;
    font-size: 1.2rem;
}
.head-buttons {
    grid-column-start: 2;
    grid-column-end: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}
.head-buttons button {
    background-color: var(--secondary-colour);
    height: 2.2rem;
    width: 4.5rem;
    border: #1992d4;
    color: var(--main-colour);
    border-radius: 20px;

    margin: 10px;
}
.main-content-container {
    background-color: var(--background-colour);
    display:grid;
    grid-template: 1fr 1fr /3fr 1fr;
    gap: 1rem;
    
    padding: 0.75rem;
    height: 85vh;
}
.card {
    padding: 1rem;
    background-color: var(--main-colour);
    border-radius: 5px;
    
    -webkit-box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.37);
    box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.37);
}

.project-grid {
    grid-row: 1 / 2;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
}
.project {
    border-left: 5px solid var(--accent-colour);
    min-width: 200px;
    max-width: 500px;
    height: 160px;

    padding: 0.5rem;
    display: grid;
    grid-template: 1fr 2fr 1fr / 2fr 1fr;
}
.project-buttons {
    display: flex;
    justify-content: space-between;

    margin-right: 10px;
    grid-row-start: 3;
    grid-column-start: 2;
}
.project button {
    height: 20px;
    width: 20px;
}

.project h3 {
    margin-bottom: 0;
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
}
.project span {
    grid-row-start: 2;
   grid-column-start: 1;
   grid-column-end: 3;
}
.announcement-container {
    width: 17rem;
    height: 50%;
}
.announcement-card {
    padding: 25px;
}
.announcement {
}
.announcement p {
    font-size: 0.7rem;
    max-height: 28%;
}
.trending-container {
    height: 50%;
}
.trending-card{
    display: grid;
    grid-template: repeat(4, 1fr) /1fr;
    gap: 10px;
}
.trend{
    display: grid;
    grid-template: 1fr 3fr / repeat(2, 1fr);
}
.trend img {
    grid-row-start: 1;
    grid-row-end: 3;

    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 30px;
}
