main {
    display: grid;
    grid-template-columns: 30% 70%;
}

/* Side-Bar */
.side-bar {
    background-color: blue;
    color: white;
}

.logo-block {
    display: grid;
    grid-template-columns: 25% 75%;
}
.side-bar li{
    display: grid;
    grid-template-columns: 30% 70%;
}
/* Main Content */