main {
    display: grid;
    grid-template-columns: 30% 70%;
}
.container {
    display: grid;
    grid-template-columns: 250px auto;
}
/* Side-Bar */
.side-bar {
    background-color: blue;
    color: white;
}

.logo-block {
    display: grid;
    grid-template-columns: 25% 75%;
}
.side-bar li{
    display: grid;
    grid-template-columns: 30% 70%;
}
.side-bar a {
    color: white;
}
/* Main Content */
.main-content-container {
    background-color: gray;
    display:grid;
    
}
.card {
    background-color: white;
    border-radius: 5px;
    
    -webkit-box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.37);
    box-shadow: 6px 10px 22px 0px rgba(0,0,0,0.37);
}

.project-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr
}

.project button {
    height: 50px;
    width: 50px;
}